.reactLogo {
    filter: invert(100%) sepia(100%) saturate(10%) hue-rotate(350deg)
        brightness(108%) contrast(100%);
    height: 100px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .reactLogo {
        animation: App-logo-spin alternate-reverse infinite 4s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
